[submodule "vivliostyle"]
	path = vivliostyle
	url = https://github.com/vivliostyle/vivliostyle_doc
[submodule "print-css-rocks"]
	path = print-css-rocks
	url = https://github.com/zopyx/print-css-rocks
[submodule "cosmology"]
	path = cosmology
	url = https://github.com/jagat-xpub/cosmology
